<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dondevamos · Phoenix Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <div class="row">
            <img src="<%= Routes.static_path(@conn, "/images/icon-small.png") %>" alt="" class="dondevamos-logo">
            <h1 class="logo-font">¿Dónde Vamos?</h1>
        </div>
        <nav role="navigation">
          <ul>
            <li>
                <%= if @current_user do %>
                  <%= button "Sign out", to: Routes.auth_path(@conn, :delete), method: :delete%>
                  <% else %>
                      <%= button "Login with Google", to: Routes.auth_path(@conn, :request, :google), method: :get %>
                <% end %>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
